{% load static %}
<html>
<head>
  <title>kotonaspace{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/space.css' %}">
</head>
<body>
  <div id="header">
    User: {{ user.username }}
  </div>
  <div id="space">
  </div>
  <div id="selectXY">
    <div id="sendpost">
      <select name="Theme_board" id="Theme_board_Select"></select>
      <input type="text" id="contents" value="">
      <input type="submit" onclick="p.send_post.sendData();" value="送信">
    </div>
  </div>
  <div id="hooder">
    <a href="javascript:p.send_post.post_display();">投稿</a>
    <a href="../accounts/logout">ログアウト</a>
  </div>
</body>
<script type="text/javascript" src="{% static 'js/space.js' %}"></script>
<script>
  p = new display({{x}},{{y}});
</script>
</html>